@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');




body{
background-color: #370067;

}

.header{
width: 60%;
font-size: 350%;
font-style: oblique;
margin-bottom: 5%;

}

.header a{
text-decoration: none;
color: #ffffff	;
font-family:'Dancing Script', cursive;


}

.header h1{
margin-left: 3%;

}


.menu{
    background-color: #7000bf;
    margin-top: 3%;
    margin-bottom: 2%;
    height: 50%;
    


}

.menu li{
display: inline-block;
margin-bottom: 1%;
margin-left: 9.65%;
margin-top: 1%;

}

.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    
 
}



.menu li a:hover{
    background: #8b2bae	;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 pink;
    text-shadow:0px 0px 5px pink;
    }


    .carrossel{
display: inline-block;
border-radius: 1em;

    }
    .textofront{

        font-size: 105%;
        text-align: justify;
        color: black;
        padding-top: 3%;
        float: left;
        margin-left: 10%;
        margin-right: 10%;
    }


    h1{
color: #370067	;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 35%;

    }

    .container {
        margin: 1px auto;
        width: 60%;
        height: 700px;
        text-align: left;
        background: white;
        border: 2px solid rgb(179, 165, 165);
        -moz-box-shadow:0 3px 10px 0 grey;
        -webkit-box-shadow:0 3px 10px 0 black;
      }

      .footer {
        clear: both;
        color: white;
        text-align: center;
        font-size: 14px;
        background-color: #7000bf;
        padding: 1.2%;
        font-weight: bold;
        margin-top: 5%;
        width: 98%
      }

      .historia{
        margin: 1px auto;
        width: 60%;
        height: 700px;
        text-align: justify;
        background: white;
        border: 2px solid rgb(179, 165, 165);
        -moz-box-shadow:0 3px 10px 0 grey;
        -webkit-box-shadow:0 3px 10px 0 black;

      }

      .historia h1{
        margin-left: 45%;
        color: #7000bf;
      }

      .historia p{
margin-left: 10%;
margin-right: 10%;
font-size: 120%;
      }

      .grupo {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        width: 40%;
        margin-top: 70px;
        margin-left: 29%;
        padding: 10px;
        background-color: #931CBB;
        border: 2px solid rgb(179, 165, 165);
        -moz-box-shadow:0 3px 10px 0 grey;
        -webkit-box-shadow:0 3px 10px 0 black;
      }
      
      .maior {
        font-size: 14px;
        width: 280px;
        resize: none;
      }
      
      .grupo input,
      select,
      textarea {
        background-color: #dddddd;
        width: 80%;

      }

      .grupo textarea{
        width: 60%;

      }

      .grupo h4{
        color: white;
        font-size: 130%;
      }

      .grupo label{
        color: #CCC;
        font-size: 120%;
      }

      .bottom  {
        width: 40%;

      }
      
      .grupo input:hover,
      input:focus,
      select:hover,
      select:focus,
      textarea:hover,
      textarea:focus {
        border-color: rgb(123, 53, 194);
        background-color: white;
        color: black;
        font-weight: bold;
      }

      .login {
        margin-left: 40%;
      }
      
      .restrito {
        width: 30%;
        background-color: white;
        margin-left: 35%;
        margin-top: 10%;
        border: 2px solid rgb(179, 165, 165);
        -moz-box-shadow:0 3px 10px 0 grey;
        -webkit-box-shadow:0 3px 10px 0 black;
      }
    

      .restrito h2{
        margin-left: 30%;
        padding-bottom: 10%;

      }
      
      .checkbox {
        color: white;
      }

      .contato{
       background-color: #370067;
      
      }

      .contato table {
        background-color: #7000bf;
        border: 2px solid rgb(179, 165, 165);
        -moz-box-shadow:0 3px 10px 0 grey;
        -webkit-box-shadow:0 3px 10px 0 black;
      }
      
      .contato p{
        color: white;
        background-color: #7000bf;
        margin-left: 0%;
        font-size: 150%;
        text-align: center ;
        border: 2px solid rgb(199, 39, 39);
        -moz-box-shadow:0 3px 10px 0 grey;
        -webkit-box-shadow:0 3px 10px 0 black;
      }

      .tableone{
        color: white;
        background-color:#7000bf;
        width: 12.5%;

      }


      .contents li {
        font-size: 90%;
        text-align: justify;
      }

      .zap{
        width: 25%;
        margin-left: 38%;
    }

    .imagem{
      background-color: #8624aa ;

      display:inline-block;

    }

  .imagem figcaption{
    margin-left: 35%;
    width: 120%;
    color: #ffffff;

  }